*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 17px;
  color: white;
  font-weight: lighter;
}

.container {
  margin: 0 auto;
  width: 420px;
}

.status-bar {
  top:0;
  position: absolute;
}

nav {
  margin: 0 auto;
  background-color: #D2D3FE;
}

.arrow-left {
padding-left: 30px;
}

h1 {
    font-size: 140%;
    padding: 30px 30px 30px 40px;
  }

.cross {
  padding: 35px 30px 30px 0px;

  float: right;
}

.arrow-left, h1, .cross {
display: inline-block;
color: #3D3D3D;
margin-top: 20px;
}

.bus-list {
  background-color: #3D3D3D;
  width: 420px;
  height: 740px;
  overflow: scroll;
}

.border-bottom {
 border-bottom: 1px solid white;
 clear: both;
 overflow: hidden;
}

.number {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: white;
  color: #3D3D3D;
  float: left;
  font-weight: bold;
  padding: 0 auto;
  padding-top: 18px;
  margin: 30px;
}

.direction {
  float: left;
  padding: 37px 0px 40px 0px;
  font-size: 80%;
}

h2 {
  text-align: center;

}

h2,h3 {
font-size: 130%;
}

.time {
  float: right;
  padding: 37px 30px 0px 20px;
  font-size: 80%;
  line-height: 20px;
  text-align: right;
}

.clock {
  color: #FFC861;
}

.clock,.time {
  display: inline-block;
}

.direction, .time {
  display: inline-block;
}
