*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 17px;
  color: black;
  background-color: grey;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  background-color: #252af7;
  height: 100px;
}

.arrow-left {
width: 10%;
padding-left: 30px;
  }

.current-stop {
  padding-left: 50px;
}

.arrow-left, .current-stop {
  display: inline-block;
  padding-top: 30px;
}

.bus-list {
  background-color: white;
  width: 420px;
}

.direction-name {
  padding: 30px 30px 30px 30px;
  background-color: #F1F1F1;
  line-height: 1px;
}

.line-number {
  width: 10%;
  padding: 30px;
}

.destination {
  padding: 30px;
}

.frequency {
  float: right;
  padding: 30px 30px 0px 0px;
}


.line-number,.destination,.frequency{
  display: inline-block;
}

h6 {
  font-size: 140%;
  color: white;
}

h1 {
  font-weight: bold;
  font-size: 95%;
}

h2 {
  font-weight: bold;
  font-size: 95%;
}

h3 {
  font-size: 95%;
}

h4 {
  font-size: 70%;
  line-height: 14px;
  color: #252af7;
}
